body {
  background-color: #e0ffff;
}
header {
  padding-top: 16px;
  div.headerLogo {
    background-color: #fff;
    padding-left: 8px;
    width: 200px;
    border-radius: 0 40px 40px 0;
  }
}
